/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/
*/

.body {
  background-color: lightblue;
}

.enter-task {
  background-color: goldenrod;
}

.task-container {
  margin-top:  10px;
}

.checkbox {
  background-color: blue;
  border:  solid black 2px;
}

.task-name {
  border:  solid black 2px;
}

.task-row {
  margin-bottom: 10px;
}