/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/
*/

.body {
  background-color: lightblue;
}

.enter-task {
  background-color: goldenrod;
}

.task-container {
  margin-top:  15px;
}

.checkbox {
  /* background-color: blue; */
  border:  solid black 2px;
}

.task-name {
  border:  solid black 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.task-row {
  margin-bottom: 10px;
}

.show-completed {
  margin: 10px;
  width: 250px;
}

.list-manipulation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.sort-by {
  display: flex;
  align-items: center;
  border: solid black 2px;
  border-radius: 34px;
  padding-left: 5px;
  padding-right: 5px;
  height: 41px;
  padding-top: 5px;
}

.sort-by-button {
  border-radius: 25px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.sort-by-button:hover {background-color: seagreen;}

.dropdown-content .sort-options:hover {background-color: lightblue;}

#show-completed-switch {
  margin-bottom: -5px;
  -ms-transform: scale(0.75); /* IE */
  -moz-transform: scale(0.75); /* FF */
  -webkit-transform: scale(0.75); /* Safari and Chrome */
  -o-transform: scale(0.75); /* Opera */
}

.show-completed-text {
  margin-top: 5px;
}

.show-completed {
  display: flex;
  margin: 0px;
  border: 2px solid black;
  padding-left: 10px;
  border-radius: 34px;
  align-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
}

input[type=checkbox]
{
  /* Larger Checkboxes */
  -ms-transform: scale(1.25); /* IE */
  -moz-transform: scale(1.25); /* FF */
  -webkit-transform: scale(1.25); /* Safari and Chrome */
  -o-transform: scale(1.25); /* Opera */
  padding: 10px;
  margin-bottom: 3px;
}

/* Toggle for Show Completed Tasks */
/* Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* End Toggle for Show Completed Tasks */

.set-priority-button {
  background-color: royalblue;
  color: white;
  padding: 6px;
  font-size: 16px;
  border-left: none;
  width: 85px;
}

.priority-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 5px 8px 16px 5px rgba(0,0,0,0.6);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: lightgray;
}

.dropdown-content #urgent {background-color: indianred;}
.dropdown-content #important {background-color: orange;}
.dropdown-content #standard {background-color: royalblue;}
.dropdown-content #no-rush {background-color: darkgray;}

.dropdown-content #urgent:hover {background-color: red;}
.dropdown-content #important:hover {background-color: darkorange;}
.dropdown-content #standard:hover {background-color: blue;}
.dropdown-content #no-rush:hover {background-color: dimgray;}

.priority-dropdown:hover .dropdown-content {display: block;}

.priority-dropdown:hover .set-priority-button {background-color: blue;}
